body {
    background-color: #E0BADE;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;  
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

hr {
    color: black;
    border: 1px solid;
}

.bar-top{
    top: 0%;
    width: 100%;
    height: 10%;
    background-color: #ef83d8;
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: row;
}
.bar-top h2{
    font-size: 2.5rem;
    color: #000000;
    width: 100%;
    position: absolute;
    margin: 10% auto;
    text-align: center;
}
.bar-top img{
    margin-right: 5px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    display: flex;
}

a:link, a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);;
    text-align: center;
}

/*a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);;
}
a:active{
    text-decoration: none;
    color: rgb(0, 0, 0);;
}*/

