*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(to bottom, rgba(224, 186, 222, 0.5), rgba(230, 230, 250, 0.5)), url('test.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.login-body{
    backdrop-filter: blur(0.4rem);
    box-shadow: 0 0 1.5rem 0 rgba(165, 40, 117, 0.637);
    position: relative;
    display: flex;
    justify-content: center;
    height: 30rem;
    border-radius: 5rem 5rem 2rem 2rem;
    width: 27rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.296));
}

.logo-holder{
    background: none;
    align-items: center;
    position: absolute;
    bottom: 24.5rem;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
}

.logo-holder img{
    width: 100%;
    height: 100%;   
    background: none;
}

.login-container{
    border-radius: 5rem 5rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; 
}
.login-container h1{
    margin-top: 6rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 100;
    color: #333;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.form p{
    margin-right: 14rem;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    color: #333;
    font-weight: 100;
}

.form input{
    text-align: center;
    width: 20rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 1rem;
    outline: none;
    background: rgb(228, 228, 228);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.form input::placeholder{
    color: #333333a5;
    font-size: 1rem;
    font-weight: 100;
}
.form button{
    margin-top: 2rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 100;
    background-color: rgba(253, 165, 236, 0.813);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.login-container a{
    margin-top: 1rem;
    text-decoration: underline;
    color: #0044ff;
    font-size: 1rem;
}




